### Local Cache / Environment Files

# Logs
logs
*.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Stack Dump Files
*.stackdump

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Caches
.cache
.cache/
.dmypy.json
dmypy.json

# Environments
.env
._env
.env.test
.env.original
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# Local Files/Databases
local/
*.sqlite3
*.sqlite
*.sqlite3-journal
*.db
local_stubs/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/
cover/

### Local Config & Settings

# VSCode settings
.vscode

# JetBrains IDE settings
.idea
*.iws
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Windows Directory Settings Files
[Dd]esktop.ini
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Windows Thumbnail Cache Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
