html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('file:///media/fuse/crostini_e07cd694dad43836e5a93b9c04d304f1dcddc478_termina_penguin/PycharmProjects/static-websites/deploy/olympic-show//static/images/bg-medium.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100vh;
    font-family: "Verdana", sans-serif;
}

.primary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    gap: 2em;
}

img#logo {
    margin-top: 4em;
    max-height: 50%;
    display: block;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.6));
}

h1 {
    font-size: 4.2em;
    max-height: 3.8em;
}

a {
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    background-color: #f2f2f2ad;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 12px;
    transition: background 0.3s;
}

a:hover {
    background-color: #e6e6e6;
}

.links-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}
